html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

html {
    overflow-y: scroll;
}

.content {
    background-color: white;
    padding: 0.5em;
}

.blog-title {
    display: inline-block;
}

.img-responsive {
    margin: 1em auto;
}

.alert {
    font-size: 16px;
}

.table-borderless td {
    border: none;
    padding-right: 0.5em;
}

canvas {
    /* avoid a bug in android browsers */
    position: absolute;
}

/* allow us to degrade tabs gracefully when js is disabled */
body.js-disabled  .disappear-no-js {
    display: none !important;
}

body.js-disabled  .appear-no-js {
    display: block !important;
}

body.js-enabled  h2.appear-no-js,hr.appear-no-js {
    display: none;
}

.table-courses th:nth-child(2), .table-courses td:nth-child(2) {
    text-align: right;
}

.table-courses th:last-child, .table-courses td:last-child {
    text-align: center;
}

.table-courses-legend td {
    text-align: left;
}

/* symbol transparent placeholder (useful for alignment) */
.symbol-placeholder {
    color: transparent !important;
}